@use "sass:color";

//Tipografia
$font-family: 'Titillium Web', sans-serif;

//Tamaños tipografia
$font-size-36: 36pt;
$font-size-20: 20pt;
$font-size-18: 18pt;
$font-size-12: 12pt;
$font-size-14: 14pt;
$font-size-10: 10pt;

//Grosores tipografia
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-300: 300;

//Colores
$bg-color-btn:#106b73;
$bg-color: #fff;
$h1-color: #0e5f66;
$h2-color: #19a6b3;
$a-color: #89acb1;
$grey-color: #94a5a8;
